<section id="contacts" class="main-container">
  <div class="text-container">
    <h1>Come contattarmi</h1>

    <div class="flex-container">
      <div class="left">
        <ul>
          <li>
            <h2>LinkedIn:</h2>
            <a href="https://www.linkedin.com/in/lorenzotade/" target="_blank"
              >Lorenzo Tade'</a
            >
          </li>
          <li>
            <h2>GitHub:</h2>
            <a href="https://github.com/lorenzotade" target="_blank"
              >lorenzotade</a
            >
          </li>
        </ul>
      </div>

      <div class="right">
        <ul>
          <li>
            <h2>Email:</h2>
            <a href="mailto:hello@lorenzotade.dev" target="_blank"
              >hello&#64;lorenzotade.dev</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
