<section id="about" class="main-container">
  <div class="text-container">
    <h1>Chi sono</h1>

    <p>
      <span>Trovare soluzioni è la mia passione.</span>
      <br />
      Da bambino amavo sperimentare con il PC di mio padre, rompendo
      costantemente ogni cosa e cercando trucchi per cercare di rimettere a
      posto tutto prima che lui lo venisse a sapere.
      <br />
      Non ho proseguito in questo campo durante i miei studi e mi sono
      focalizzato su di un percorso umanistico. Mi son sempre pentito di aver
      lasciato a parte l'informatica.
      <br />
      Durante il lockdown ho avuto la possibilità di cambiare vita, così ho
      incominciato a studiare Web Development; da solo e con l'aiuto di
      un'accademia.
      <br />
      Oggi spero di poter impiegare di nuovo le mie conoscenze nel trovare
      soluzioni, risolvendo problemi e sterminando bug uno dopo l'altro!
    </p>

    <h2>Competenze:</h2>

    <ul>
      <li>HTML</li>
      <li>CSS / SASS / Bootstrap</li>
      <li>JavaScript / ES6</li>
      <li>TypeScript</li>
      <li>RxJS</li>
      <li>Angular</li>
      <li>Vue.js</li>
      <li>Git</li>
    </ul>
  </div>
</section>
