<section id="about" class="main-container">

  <div class="text-container">

    <h1>Who am I</h1>

    <p><span>Finding solutions is my passion.</span>
      <br>
      As a boy used to tinker with my father's PC, always breaking things and trying tricks to set all back to normal before he found
      <br>
      I didn't pursue this in my studies since I focused on gaining my BA in Contemporary History; and I always regretted this.
      <br>
      The pandemic and the subsequent lockdown gave me the chance to pivot my life, so I began to study Web Development; by myself and with the aid of a bootcamp.
      <br>
      Now I hope I can commit this knowledge back into finding solutions, coding problems away one by one!
    </p>

    <h2>My stack: </h2>

    <ul>
      <li>HTML</li>
      <li>CSS / SASS / Bootstrap</li>
      <li>JavaScript / ES6</li>
      <li>Vue.js</li>
      <li>Angular</li>
      <li>Svelte</li>
      <li>PHP</li>
      <li>Laravel</li>
      <li>MySQL</li>
      <li>Git</li>
    </ul>

  </div>

</section>
